/* line 26, ../scss/style.scss */
html, body {
  padding: 0;
  margin: 0;
  display: relative;
  width: 100%;
  height: 100%;
  background: #FFF;
}

/* line 43, ../scss/style.scss */
footer {
  background-color: #24375F;
  width: 100%;
  height: auto;
  padding: 2em;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  min-height: 200px;
  padding-bottom: calc(100px + 2em);
}

/* line 55, ../scss/style.scss */
.footer__bottom {
  background: #162B3C;
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  box-sizing: border-box;
}

/* line 68, ../scss/style.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 74, ../scss/style.scss */
.column {
  float: left;
  width: 22%;
  padding: 20px;
}
/* line 78, ../scss/style.scss */
.column h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #1C9BA1;
  font-size: 23px;
}
/* line 84, ../scss/style.scss */
.column__content--text {
  line-height: 2;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

/* line 102, ../scss/style.scss */
h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #FFF;
  font-size: 23px;
}

/* line 108, ../scss/style.scss */
h5 {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
}

/* line 115, ../scss/style.scss */
a {
  color: #12818a;
  text-decoration: none;
}

/* line 128, ../scss/style.scss */
img {
  height: 100px;
  width: 100px;
}

/* line 141, ../scss/style.scss */
.social {
  padding-top: 3em;
}
/* line 143, ../scss/style.scss */
.social__icons {
  display: inline-block;
}
/* line 145, ../scss/style.scss */
.social__icons--twitter {
  background-color: #42A3E8;
}
/* line 148, ../scss/style.scss */
.social__icons--facebook {
  background-color: #3d5c95;
}
/* line 151, ../scss/style.scss */
.social__icons--googleplus {
  background-color: #dc4e44;
}
/* line 154, ../scss/style.scss */
.social__icons--dribbble {
  background-color: #E3417D;
}
/* line 158, ../scss/style.scss */
.social__box {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
}
/* line 165, ../scss/style.scss */
.social__box__icon {
  text-align: center;
  width: 100%;
  margin-top: 25%;
}

/* line 182, ../scss/style.scss */
.search {
  position: relative;
}
/* line 184, ../scss/style.scss */
.search input {
  width: 100%;
  padding: 1em;
}
/* line 188, ../scss/style.scss */
.search .ti-search {
  position: absolute;
  pointer-events: none;
  right: 0;
  cursor: pointer;
  top: 32%;
  padding-right: 1em;
}
/* line 196, ../scss/style.scss */
.searchright__addon {
  right: 0;
}

/* line 208, ../scss/style.scss */
.links {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 3;
}
/* line 213, ../scss/style.scss */
.links__link {
  cursor: pointer;
}

/* line 218, ../scss/style.scss */
.post {
  display: -webkit-inline-box;
  padding: 1em;
}
/* line 221, ../scss/style.scss */
.post:last-child {
  padding-top: 2em;
}
/* line 224, ../scss/style.scss */
.post__data {
  line-height: 2;
  margin-left: 1em;
  color: #FFF;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  /* line 242, ../scss/style.scss */
  .column {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
